In [138]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [226]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url).text

In [227]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page,'lxml')
#print(soup.prettify)

In [228]:
print(soup.title.text)

List of postal codes of Canada: M - Wikipedia

In [332]:
my_table = soup.find('table')
my_table_row = my_table.find_all('tr')
my_table_row[0]

<tr>
<th>Postal Code
</th>
<th>Borough
</th>
<th>Neighbourhood
</th></tr>

In [230]:
headings = []
for th in my_table_row[0].find_all('th'):
    headings.append(th.text.replace('\n',''))
headings

['Postal Code', 'Borough', 'Neighbourhood']

In [231]:
samples = []
for data in my_table_row:
    samples.append(data.text.split('\n'))
samples[:5]

[['', 'Postal Code', '', 'Borough', '', 'Neighbourhood', ''],
 ['', 'M1A', '', 'Not assigned', '', 'Not assigned', ''],
 ['', 'M2A', '', 'Not assigned', '', 'Not assigned', ''],
 ['', 'M3A', '', 'North York', '', 'Parkwoods', ''],
 ['', 'M4A', '', 'North York', '', 'Victoria Village', '']]

In [236]:
df = pd.DataFrame(samples)
df.drop([0],inplace=True)
df.drop(columns = [0,2,4,6], inplace=True)
df.columns = headings
df

,Postal Code,Borough,Neighbourhood
1,M1A,Not assigned,Not assigned
2,M2A,Not assigned,Not assigned
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
176,M5Z,Not assigned,Not assigned
177,M6Z,Not assigned,Not assigned
178,M7Z,Not assigned,Not assigned
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,Not assigned

In [331]:
df_processed = df[df.Borough != 'Not assigned']
df_processed.reset_index(drop=True, inplace=True)
df_processed.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [330]:
df_processed.shape

(103, 3)